{%load static %}
<!-- Footer -->
<footer class="footer-area">
    <div class="container">
        <div class="footer-content text-center">
            <a href="{%url 'home'%}" class="logo">
                <img src="{%static 'images/logo.svg'%}" alt="Logo">
            </a>
            <ul class="footer-menu">
                <li><a href="{%url 'home'%}">Home</a></li>
                <li><a href="{%url 'about'%}">About</a></li>
                <li><a href="{%url 'works'%}">Works</a></li>
                <li><a href="{%url 'contact'%}">Contact</a></li>
            </ul>
            <p class="copyright">
                &copy; All rights reserved 
            </p>
        </div>
    </div>
</footer>
