{%extends 'base.html'%} {%load static %} {%block content%}
<!-- Breadcrumb -->
<section class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content" data-aos="fade-up">
      <p>HOME - BLOG DETAILS</p>
      <h1 class="section-heading">
        <img src="{%static 'images/star-2.png'%}" alt="Star" /> Blog Details
        <img src="{%static 'images/star-2.png'%}" alt="Star" />
      </h1>
    </div>
  </div>
</section>

<!-- Blog Details -->
<section class="blog-details-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-details-content">
          <div class="img-box">
            {%if blog.image %}
            <img src="{{blog.image.url}}" alt="{{blog.title}}" />
            {%else%}
            <img src="{%static 'images/blog1.jpg'%}" alt="Blog" />
            {%endif%}
          </div>
          <span class="meta"
            >{{blog.create_at|date:"d F Y"}} - Comments
            ({{blog.comments_count}}) - Share ({{ blog.share_count }})</span
          >
          <h1>{{blog.title}}</h1>
          <p>{{blog.content|safe}}</p>

          <div class="tags">
            {%for tag in tags %}
            <a href="?tag={{tag.slug}}" class="theme-btn">{{tag.name}}</a>
            {%endfor%}
          </div>

          <div class="comments-and-form-wrap">
            <div class="comments-and-form-wrap-inner shadow-box">
              <h2>{{blog.comments_count}} Comments</h2>

              <div class="comments">
                {% for comment in blog.comments.all %}
                <div class="comment-list">
                  <div class="comment-avatar">
                    <img src="{%static 'images/comment.png'%}" alt="Avatar" />
                  </div>
                  <div class="comment-body">
                    <span class="date">{{blog.create_at|date:'d F Y'}}</span>
                    <h3>{{comment.name}}</h3>
                    <p
                      style="
                        width: 20ch; /* Примерное ограничение по символам */
                        word-wrap: break-word;
                        overflow-wrap: break-word;
                        white-space: normal;
                      "
                    >
                      {{comment.message}}
                    </p>
                  </div>
                </div>
                {% empty %}
                <p>No comment yet. Be the first to comment.</p>
                {%endfor%}
              </div>

              <div class="comment-form">
                <h2>Leave A Reply</h2>

                <form method="POST">
                  {% csrf_token %}
                  <div class="input-group">
                    <input type="text" name="name" placeholder="Name*" />
                  </div>
                  <div class="input-group">
                    <input type="text" name="email" placeholder="Email*" />
                  </div>
                  <div class="input-group">
                    <textarea
                      name="message"
                      placeholder="Your Message*"
                    ></textarea>
                  </div>
                  <div class="input-group">
                    <button class="theme-btn" type="submit">
                      Send Message
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-sidebar">
          <div class="blog-sidebar-inner">
            <div class="blog-sidebar-widget search-widget">
              <div class="blog-sidebar-widget-inner" data-aos="zoom-in">
                <form class="shadow-box">
                  <input type="text" placeholder="Search Here..." />
                  <button class="theme-btn">Search</button>
                </form>
              </div>
            </div>

            <div
              class="blog-sidebar-widget recent-post-widget"
              data-aos="zoom-in"
            >
              <div class="blog-sidebar-widget-inner shadow-box">
                <h3>Recent Posts</h3>

                {% for post in recent_posts %}
                <ul>
                  <li>
                    <a href="{%url 'blog_detail' slug=post.slug %}"
                      >- {{post.title}}</a
                    >
                  </li>
                </ul>
                {% empty %}
                <li>No recent post available</li>
                {%endfor%}
              </div>
            </div>

            <div
              class="blog-sidebar-widget categories-widget"
              data-aos="zoom-in"
            >
              <div class="blog-sidebar-widget-inner shadow-box">
                <h3>Categories</h3>

                {%for category in categories%}
                <ul>
                  <li>
                    <a href="?category={{category.slug}}"
                      >- {{category.name}}</a
                    >
                  </li>

                  {%empty%}
                  <li>No categories available</li>
                </ul>
                {% endfor %}
              </div>
            </div>

            <div class="blog-sidebar-widget tags-widget" data-aos="zoom-in">
              <div class="blog-sidebar-widget-inner shadow-box">
                <h3>Tags</h3>

                <ul>
                  {% for tag in tags %}
                  <li>
                    <a class="theme-btn" href="?tag={{ tag.slug }}"
                      >{{ tag.name }}</a
                    >
                  </li>
                  {% empty %}
                  <li>No tags available</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}
