{%extends 'base.html'%} {%load static%} {%block title %}
<title>Blog</title>
{%endblock%} {%block content %}

<!-- Breadcrumb -->
<section class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content" data-aos="fade-up">
      <p>HOME - BLOG</p>
      <h1 class="section-heading">
        <img src="{%static 'images/star-2.png'%}" alt="Star" /> Blog with
        rightsidebar
        <img src="{%static 'images/star-2.png'%}" alt="Star" />
      </h1>
    </div>
  </div>
</section>

<!-- Blog Items -->
<section class="blog-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-items">
          {%for blog in blogs%}
          <div class="blog-item" data-aos="zoom-in">
            {%if blog.image %}
            <div class="img-box">
              <img src="{{blog.image.url}}" alt="{{blog.title}}" />
              {%else%}
              <img src="{%static 'images/blog1.jpg'%}" alt="Blog" />
              {%endif%}
            </div>
            <div class="content">
              <span class="meta"
                >{{blog.create_at|date:"d F Y"}} - Comments
                ({{blog.comments_count}}) - Share ({{ blog.share_count }})</span
              >
              <h1>
                <a href="{%url 'blog_detail' slug=blog.slug %}"
                  >{{blog.title}}</a
                >
              </h1>
              {{ blog.truncate_content|safe }}
              <a href="{%url 'blog_detail' slug=blog.slug %}" class="theme-btn"
                >Read More</a
              >
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-sidebar">
          <div class="blog-sidebar-inner">
            <div class="blog-sidebar-widget search-widget">
              <div class="blog-sidebar-widget-inner" data-aos="zoom-in">
                <form class="shadow-box">
                  <input type="text" placeholder="Search Here..." />
                  <button class="theme-btn">Search</button>
                </form>
              </div>
            </div>

            <div
              class="blog-sidebar-widget recent-post-widget"
              data-aos="zoom-in"
            >
              <div class="blog-sidebar-widget-inner shadow-box">
                <h3>Recent Posts</h3>
                {% for post in recent_posts %}
                <ul>
                  <li>
                    <a href="{%url 'blog_detail' slug=post.slug %}"
                      >{{post.title}}</a
                    >
                  </li>
                </ul>
                {% empty %}
                <li>No recent post available</li>
                {%endfor%}
              </div>
            </div>

            <div
              class="blog-sidebar-widget categories-widget"
              data-aos="zoom-in"
            >
              <div class="blog-sidebar-widget-inner shadow-box">
                <h3>Categories</h3>

                {%for category in categories%}
                <ul>
                  <li>
                    <a href="?category={{category.slug}}">{{category.name}}</a>
                  </li>

                  {%empty%}
                  <li>No categories available</li>
                </ul>
                {% endfor %}
              </div>
            </div>

            <div class="blog-sidebar-widget tags-widget" data-aos="zoom-in">
              <div class="blog-sidebar-widget-inner shadow-box">
                <h3>Tags</h3>

                <ul>
                  {% for tag in tags %}
                  <li>
                    <a class="theme-btn" href="?tag={{ tag.slug }}"
                      >{{ tag.name }}</a
                    >
                  </li>
                  {% empty %}
                  <li>No tags available</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock %}
