{% extends "base.html" %} {%load static %} {%block content%}

<!-- Credentials -->
<section class="credential-area">
  <div class="container">
    <div class="gx-row d-flex">
      <div class="credential-sidebar-wrap" data-aos="zoom-in">
        <div class="credential-sidebar text-center">
          <div class="shadow-box">
            <img src="{% static 'images/bg1.png'%}" alt="BG" class="bg-img" />

            {%if about_me %}
            <div class="img-box">
              <img src="{{about_me.image.url}}" alt="About Me" />
            </div>
            <h2>{{about_me.my_name}}</h2>
            <p>{{ about_me.username }}</p>
            {%else%}
            <h2>Unknown</h2>
            <p>Unknown</p>
            {%endif%}

            <ul class="social-links d-flex justify-content-center">
              {%if social_media%} {%for platform,link in social_media.items %}
              <li>
                <a href="{{ link }}"><i class="iconoir-instagram"></i></a>

              </li>
              {%endfor%} {%else%}
              <h2>No social media links available</h2>
              {%endif%}
            </ul>

            <a href="{%url 'contact'%}" class="theme-btn">Contact Me</a>
          </div>
        </div>
      </div>

      <div class="credential-content flex-1">
        <div class="credential-about" data-aos="zoom-in">
          <h2>About Me</h2>
          <p>
            {%if about_me %} {{about_me.about_me|safe}} {% else %} No about me
            available. {% endif %}
          </p>
          <p></p>
        </div>

        <div class="credential-edc-exp credential-experience">
          <h2 data-aos="fade-up">Experience</h2>
          {% for experience in experiences %}
          <div class="credential-edc-exp-item" data-aos="zoom-in">
            <h4>{{ experience.start_year }}-{{experience.end_year}}</h4>
            <h3>{{ experience.position }}</h3>
            <h5>{{ experience.company }}</h5>
            <p>{{ experience.description|safe }}</p>
          </div>
          {%empty%}
          <p>No experience available</p>
          {%endfor%}
        </div>

        <div class="credential-edc-exp credential-education">
          <h2 data-aos="fade-up">Education</h2>
          {%for education in educations %}
          <div class="credential-edc-exp-item" data-aos="zoom-in">
            <h4>{{education.start_year}}-{{education.end_year}}</h4>
            <h3>{{education.degree}}</h3>
            <h5>{{education.university}}</h5>
            <p>{{education.description|safe}}</p>
          </div>
          {%empty%}
          <p>No education available</p>
          {%endfor%}
        </div>

        <div class="skills-wrap">
          <h2 data-aos="fade-up">Skills</h2>
          <div class="d-grid skill-items gap-24 flex-wrap">
            {%for skill in skills %}
            <div class="skill-item" data-aos="zoom-in">
              <span class="percent">{{skill.procent}}</span>
              <h3 class="name">{{skill.name}}</h3>
              <p>{{skill.description}}</p>
            </div>
            {%empty%}
            <p>No skills available</p>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
