{%extends 'base.html'%}
{%load static %}
{% block title %}
<title>Works</title>
{%endblock%}
{%block content%}
<section class="projects-area">
  <div class="container">
    <h1 class="section-heading" data-aos="fade-up">
        <img src="{%static 'images/star-2.png'%}" alt="Star"> All Projects
        <img src="{%static 'images/star-2.png'%}" alt="Star">
    </h1>
   
      <div class="col-md-8">
        <h1 class="section-heading" data-aos="fade-up">
          <img src="{% static 'images/star-2.png'%}" alt="Star" /> All Projects
          <img src="{% static 'images/star-2.png'%}" alt="Star" />
        </h1>

        <div class="d-flex align-items-start gap-24">
            {%for project in projects %}
          <div data-aos="zoom-in" class="flex-1">
            <div class="project-item shadow-box">
                {% if project.slug %}
                <a class="overlay-link" href="{% url 'work_detail' slug=project.slug %}"></a>
                {% endif %}
              <img src="assets/images/bg1.png" alt="BG" class="bg-img" />
              <div class="project-img">
                {% if project.images.first %}
                <img src="{{ project.images.first.image.url }}" alt="Project" />
                {% else %}
                <img src="{% static 'images/project3.jpg' %}" alt="Project" />
                {% endif %}                
            </div>
              <div class="d-flex align-items-center justify-content-between">
                <div class="project-info">
                  <p>{{project.Services}}</p>
                  <h1>{{project.client}}</h1>
                </div>
                <a href="{% url 'work_detail' slug=project.slug %}" class="project-btn">
                  <img src="{%static 'images/icon.svg'%}" alt="Button" />
                </a>
              </div>
            </div>
          </div>
          {%endfor%}


        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}